/* 
===== General Styling =====
 */
* {
    box-sizing: border-box;
  }
  
/* Background Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

  /* 
  ===== Navbar Styling =====
  */

a {
    color: black;
    font-size: 24px;
    margin-left: 15px;
}

a:first-child {
    margin-left: 0;
}

a:hover {
    color: white;
}

.navbar {
    height: 100px;
}

.navbar, .p-4 {
    background-color: rgba(112,112,112)
}

.navbar-toggler {
    height: 60px;
    width: 90px;
}

/*
----- Homepage Styling -----
*/

#brand-statement {
    padding: 25px 0px 25px 0px;
}

#headshot-contain {
    max-width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,.65);
    color: white;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 25px;
    padding-top: 25px;
    
}

#profile-pic {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    animation-delay: .75s;
    animation-iteration-count: 1;
    
}

/*
----- Portfolio Page Styling -----
*/

.column {
    flex: 50%;
}

#img-container {
    max-width: 100%;
}

.row {
    animation-delay: 0.25s;
    animation-iteration-count: 1;
    display: flex;
}

#pic-area {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#portfolio-pic {
    width: 100%;
    height: 100%;
    padding-top: 5%;
  
}

#portlink {
    color: black;
}

.text-block {
    position: absolute;
    text-align: center;
    background-color: rgba(000,191,255, 0.75);
    padding: 10px 0px 10px 0px;
    bottom: 5%;
    margin: 0px;
    width: 100%;    
}

/*
----- Contact Page styling -----
*/

#contact-area {
    color: white;
    margin: auto;
    max-width: 600px;
    padding-bottom: 30px;
}

#contact-links {
    text-align: center;
}

#contact {
    text-align: center;
    font-size: 36px;
    padding-bottom: 25px;
}

input[type=text], textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
} 

#message-cont {
    max-width: 100%;
    background-color: rgba(0,0,0,.65);
    margin-top: 50px;
    padding-top: 25px;
}

/*
----- Resume Page styling -----
*/

#head-name, #contact-info {
    text-align: center;    
}

#links {
    font-size: 16px;
    color: dodgerblue;
  
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

ul {
    margin-left: 40px;
}

li {
    list-style-type: disc;
}

#resume-body {
    background: white;
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 25px 25px 25px;
    line-height: 1.3;
}  