body {
    background: yellow;
}
.navbar {
    height: 300px;
}

.navbar-toggler {
    height: 100px;
    width: 150px;
}

a {
    color: white;
    font-size: 24px;
    margin-left: 15px;
}

a:first-child {
    margin-left: 0;
}

#profile-pic {
    height: 280px;
    width: 375px;
}

#portfolio-pic {
    height: 500px;
    width: 750px;
}

img {
    height: 400px;
    width: 500px;
    
    animation-delay: 0.25s;
    animation-iteration-count: 1;
}

#img-container {
    margin-left: 3%;
    margin-right: 3%;
}

#column-2 {
    margin-left: 5%;
}

.row {
    width: 1600px;
}